.groups-boxes .group-box .group-box-inner .group-info-wrapper .group-info {
  span.group-info-details {
    display: inline-flex;
    align-items: flex-start;
  }
  span.groups-info-name {
    flex: 1;
    width: unset;
  }
  span.groups-client {
    width: unset;
  }
}

.group-info-client {
  margin-left: 5px;
}